html,
body,
h1,
h2,
h3,
h4,
p,
div,
ul,
ol,
li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
}

$aquaHazeColor: #EAF2F3;
$bigStoneColor: #13293D;
$bahamaBlue: #006494;
$whiteColor: #fff;
$menuShadowHider: 0 1px 2px rgba(0, 100, 148, 0.55);
$menuShadowFull: 0 5px 15px rgba(0, 100, 148, 1);
$menuShadowAnimation: box-shadow 0.3s ease-in-out;
$hrGradient: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(19, 41, 61, 0.90), rgba(0, 0, 0, 0));
@mixin hrStyled($width: auto) {
  border: 0;
  height: 1px;
  width: $width;
  color: $bigStoneColor;
  background-image: $hrGradient;
}

@mixin respond-to($query) {
  @media screen and (max-width: $query) {
    @content
  }
}

body {
  font-family: "Skia", Helvetica, sans-serif;
  background: $aquaHazeColor;
}

header {
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $whiteColor;
  box-shadow: 10px 10px 25px $bigStoneColor;
  h1 {
    display: inline-block;
  }
  .short-header {
    display: none;
    @include respond-to(500px) {
      display: inline-block;
    }
  }
  .full-header {
    @include respond-to(500px) {
      display: none;
    }
  }
  .main-header {
    display: inline-block;
    font-size: 2.5em;
    a {
      text-decoration: none;
      color: $bigStoneColor;
    }
  }
  .logo {
    height: 35px;
    width: 48px;
    padding: 0 10px 0 10px;
  }
  .toggle-nav {
    display: none;
  }
}

nav {
  display: inline-block;
  float: right;
  a {
    padding: 10px 20px;
    text-decoration: none;
    color: $aquaHazeColor;
    display: block;
  }
  ul {
    list-style-type: none;
  }
  li {
    margin: 0 20px 0 0;
    display: inline-block;
    background: $bigStoneColor;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: $menuShadowHider;
    transition: $menuShadowAnimation;
    &:hover {
      box-shadow: $menuShadowFull;
    }
  }
}

main {
  max-width: 1200px;
  margin: 104px auto 0 auto;
  color: $bigStoneColor;
  transition: margin-top .3s linear 0s;
  h2 {
    font-weight: bold;
    font-size: 1.0625em;
  }
}

.tagline {
  padding: 10px 0 70px 0;
  font-size: 1.25em;
  margin: 0 auto;
  width: 70%;
  p {
    margin: 30px 0 0 0;
  }
}

.skills,
.education,
.contacts {
  padding: 10px 8% 10px 8%;
  h2 {
    margin: 25px 0;
  }
}

.skills {
  margin: 0 0 60px 0;
}

.skill-set {
  display: inline-block;
  width: 20%;
  padding: 0 3%;
  vertical-align: top;
  text-align: center;
  &:first-of-type {
    padding: 0 3% 0 16%;
  }
  h1 {
    padding: 13px 0 24px 0;
    font-weight: bold;
  }
}

.skill-icon {
  color: $bahamaBlue;
}

.education {
  margin: 0 0 60px 0;
}

.education-set {
  padding: 0 0 0 16%;
  vertical-align: top;
  margin: 0 0 50px 0;
  h1 {
    font-weight: bold;
    padding: 0 0 10px 0;
  }
}

.img-header,
.description {
  display: inline-block;
  vertical-align: top;
}

.img-header {
  height: 45px;
  width: 50%;
  img {
    height: 48px;
    width: 48px;
    border: 3px solid;
    border-radius: 50%;
  }
}

.education-icon {
  float: left;
  margin-right: 16px;
  color: $bahamaBlue;
}

.fa-graduation-cap {
  margin-right: 10px;
}

.description {
  width: 40%;
  padding-left: 5%;
  p {
    padding: 0 0 10px 0;
  }
}

.contact-set {
  width: 32%;
  padding: 0 0 0 16%;
  vertical-align: top;
}

.contact-icon {
  width: 70px;
  display: inline-block;
  text-align: center;
  padding: 0 0 25px 0;
  text-decoration: none;
  color: $bahamaBlue;
  transition: color 0.3s ease-in-out;
  span {
    color: $bigStoneColor;
  }
  svg {
    margin: 0 0 10px 0;
    transition: transform .3s ease-in-out;
  }
  &:hover svg {
    transform: scale(1.2);
  }
  &:hover {
    color: $bigStoneColor;
  }
}

footer {
  text-align: center;
  padding: 80px 0 15px 0;
}

.hr-styled {
  @include hrStyled();
}

.hr-styled-2 {
  @include hrStyled(150px);
}

@media screen and (max-width: 1090px) {
  nav a {
    padding: 7px 12px;
  }
  nav li {
    margin: 0 10px 0 0;
  }
  .contact-set {
    width: 38%;
  }
}

@media screen and (max-width: 920px) {
  .contact-set {
    width: 45%;
  }
  nav li {
    display: none;
  }
  nav.active {
    margin: 10px 0 0 0;
    width: 100%;
    a {
      text-align: center;
    }
    li {
      margin: 0 auto;
      display: block;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
      animation: slide-down-list .3s linear 0s;
      &:first-of-type {
        border-radius: 7px 7px 0 0;
      }
      &:last-of-type {
        border-radius: 0 0 7px 7px;
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
  nav.revert li {
    animation: slide-down-list-revert .3s linear 0s;
  }
  main.active {
    margin-top: 254px;
    transition: margin-top .3s linear 0s;
  }
  header .toggle-nav {
    float: right;
    display: inline-block;
    border-radius: 6px;
    padding: 7px 12px;
    text-decoration: none;
    background: $bigStoneColor;
    color: $aquaHazeColor;
    font-size: 1.25em;
    box-shadow: $menuShadowHider;
    transition: $menuShadowAnimation;
    &:hover {
      box-shadow: $menuShadowFull;
    }
  }
}

@media screen and (max-width: 773px) {
  .skills div.skill-set {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 35px 0;
  }
  .education-set {
    padding: 0;
  }
  .education .education-set div {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .contact-set {
    width: 55%;
  }
}

@media screen and (max-width: 633px) {
  .contact-set {
    width: 150px;
    padding: 0;
    margin: 0 auto;
  }
}

@keyframes slide-down-list {
  from {
    height: 0;
  }
  to {
    height: 30px;
  }
}

@keyframes slide-down-list-revert {
  from {
    height: 30px;
  }
  to {
    height: 0;
  }
}