html,
body,
h1,
h2,
h3,
h4,
p,
div,
ul,
ol,
li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit; }

body {
  font-family: "Skia", Helvetica, sans-serif;
  background: #EAF2F3; }

header {
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 10px 10px 25px #13293D; }
  header h1 {
    display: inline-block;
    font-family: 'Reenie Beanie', cursive; }
  header .short-header {
    display: none; }
    @media screen and (max-width: 500px) {
      header .short-header {
        display: inline-block; } }
  @media screen and (max-width: 500px) {
    header .full-header {
      display: none; } }
  header .main-header {
    display: inline-block;
    font-size: 3.2em; }
    header .main-header a {
      text-decoration: none;
      color: #13293D; }
  header .logo {
    height: 35px;
    width: 48px;
    padding: 0 10px 0 10px; }
  header .toggle-nav {
    display: none; }

nav {
  display: inline-block;
  float: right; }
  nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #EAF2F3;
    display: block; }
  nav ul {
    list-style-type: none; }
  nav li {
    margin: 0 20px 0 0;
    display: inline-block;
    background: #13293D;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 100, 148, 0.55);
    transition: box-shadow 0.3s ease-in-out; }
    nav li:hover {
      box-shadow: 0 5px 15px #006494; }

main {
  max-width: 1200px;
  margin: 104px auto 0 auto;
  color: #13293D;
  transition: margin-top .3s linear 0s; }
  main h2 {
    font-weight: bold;
    font-size: 1.0625em; }

.tagline {
  padding: 10px 0 70px 0;
  font-size: 1.25em;
  margin: 0 auto;
  width: 70%;
  line-height: 1.5; }
  .tagline p {
    margin: 30px 0 0 0; }

.skills,
.education,
.contacts {
  padding: 10px 8% 10px 8%; }
  .skills h2,
  .education h2,
  .contacts h2 {
    margin: 25px 0; }

.skills {
  margin: 0 0 60px 0; }

.skill-set {
  display: inline-block;
  width: 20%;
  padding: 0 3%;
  vertical-align: top;
  text-align: center;
  line-height: 1.5; }
  .skill-set:first-of-type {
    padding: 0 3% 0 16%; }
  .skill-set h1 {
    padding: 13px 0 24px 0;
    font-weight: bold; }

.skill-icon {
  color: #006494; }

.education {
  margin: 0 0 60px 0; }

.education-set {
  padding: 0 0 0 16%;
  vertical-align: top;
  margin: 0 0 50px 0;
  line-height: 1.5; }
  .education-set h1 {
    font-weight: bold;
    padding: 0 0 10px 0; }

.img-header,
.description {
  display: inline-block;
  vertical-align: top; }

.img-header {
  height: 45px;
  width: 50%; }
  .img-header img {
    height: 48px;
    width: 48px;
    border: 3px solid;
    border-radius: 50%; }

.education-icon {
  float: left;
  margin-right: 16px;
  color: #006494; }

.fa-graduation-cap {
  margin-right: 10px; }

.description {
  width: 40%;
  padding-left: 5%; }
  .description p {
    padding: 0 0 10px 0; }

.contact-set {
  width: 32%;
  padding: 0 0 0 16%;
  vertical-align: top; }

.contact-icon {
  width: 70px;
  display: inline-block;
  text-align: center;
  padding: 0 0 25px 0;
  text-decoration: none;
  color: #006494;
  transition: color 0.3s ease-in-out; }
  .contact-icon span {
    color: #13293D; }
  .contact-icon svg {
    margin: 0 0 10px 0;
    transition: transform .3s ease-in-out; }
  .contact-icon:hover svg {
    transform: scale(1.2); }
  .contact-icon:hover {
    color: #13293D; }

footer {
  text-align: center;
  padding: 80px 0 15px 0; }

.hr-styled {
  border: 0;
  height: 1px;
  width: auto;
  color: #13293D;
  background-image: linear-gradient(to right, transparent, rgba(19, 41, 61, 0.9), transparent); }

.hr-styled-2 {
  border: 0;
  height: 1px;
  width: 150px;
  color: #13293D;
  background-image: linear-gradient(to right, transparent, rgba(19, 41, 61, 0.9), transparent); }

@media screen and (max-width: 1090px) {
  nav a {
    padding: 7px 12px; }
  nav li {
    margin: 0 10px 0 0; }
  .contact-set {
    width: 38%; } }

@media screen and (max-width: 920px) {
  .contact-set {
    width: 45%; }
  nav li {
    display: none; }
  nav.active {
    margin: 10px 0 0 0;
    width: 100%; }
    nav.active a {
      text-align: center; }
    nav.active li {
      margin: 0 auto;
      display: block;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
      animation: slide-down-list .3s linear 0s; }
      nav.active li:first-of-type {
        border-radius: 7px 7px 0 0; }
      nav.active li:last-of-type {
        border-radius: 0 0 7px 7px; }
      nav.active li:hover {
        box-shadow: none; }
  nav.revert li {
    animation: slide-down-list-revert .3s linear 0s; }
  main.active {
    margin-top: 254px;
    transition: margin-top .3s linear 0s; }
  header .toggle-nav {
    float: right;
    display: inline-block;
    border-radius: 6px;
    padding: 7px 12px;
    text-decoration: none;
    background: #13293D;
    color: #EAF2F3;
    font-size: 1.25em;
    box-shadow: 0 1px 2px rgba(0, 100, 148, 0.55);
    transition: box-shadow 0.3s ease-in-out; }
    header .toggle-nav:hover {
      box-shadow: 0 5px 15px #006494; } }

@media screen and (max-width: 773px) {
  .skills div.skill-set {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 35px 0; }
  .education-set {
    padding: 0; }
  .education .education-set div {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0; }
  .contact-set {
    width: 55%; } }

@media screen and (max-width: 633px) {
  .contact-set {
    width: 150px;
    padding: 0;
    margin: 0 auto; } }

@keyframes slide-down-list {
  from {
    height: 0; }
  to {
    height: 30px; } }

@keyframes slide-down-list-revert {
  from {
    height: 30px; }
  to {
    height: 0; } }
