html, body, h1, h2, h3, h4, p, div, ul, ol, li {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}

body {
    font-family: "Skia", Helvetica, sans-serif;
    background: #EAF2F3;
}

header {
    padding: 30px 20px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 10px 10px 25px #13293D;
}

header h1 {
    display: inline-block;
}

.main-header {
    width: 400px;
    display: inline-block;
    font-size: 40px;
}

.main-header a {
    text-decoration: none;
    color: #13293D;
}

.logo {
    width: 48px;
    height: 35px;
    padding: 0 10px 0 10px;
}

nav {
    width: 600px;
    display: inline-block;
    right: 0;
    float: right;
}

nav a {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #EAF2F3;
    display: block
}

nav ul {
    list-style-type: none;
}

nav li {
    margin: 0 20px 0 0;
    display: inline-block;
    background: #13293D;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 100, 148, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

nav li:hover {
    box-shadow: 0 5px 15px rgba(0, 100, 148, 1);
}

main {
    width: 1200px;
    margin: 0 auto;
    margin-top: 104px;
    color: #13293D;
}

main h2 {
    font-weight: bold;
    font-size: 17px;
}

.tagline {
    padding: 10px 0 70px 0;
    font-size: 20px;
    margin: 0 auto;
    width: 70%;
}

.tagline p {
    margin: 30px 0 0 0;
}

.skills,
.education,
.contacts {
    padding: 10px 8% 10px 8%;
}

.skills {
    height: 240px;
}

.skill-set {
    display: inline-block;
    width: 20%;
    padding: 0 3%;
    vertical-align: top;
    text-align: center;
}

.skill-set:first-of-type {
    padding: 0 3% 0 16%;
}

.skill-set h1 {
    padding: 13px 0 24px 0;
    font-weight: bold;
}

.skill-set i {
}

.education {
    height: 470px;
}

.education-set,
.contact-set {
    height: 130px;
    padding: 0 0 0 16%;
    vertical-align: top;
}

.education-set h1 {
    font-weight: bold;
    padding: 0 0 10px 0;
}

.img-header,
.description {
    display: inline-block;
    vertical-align: top;
}

.img-header {
    width: 50%;
    height: 45px;
}

.img-header img {
    width: 48px;
    height: 48px;
    border: 3px solid;
    border-radius: 50%;
}

.education-icon {
    float: left;
    margin-right: 16px;
    color: #006494;
}

.fa-graduation-cap {
    margin-right: 10px;
}

.description {
    width: 40%;
    padding-left: 5%;
}

.description p {
    padding: 0 0 10px 0;
}

.contacts {
    height: 200px;
}

.contact-set {
    width: 296px;
}

.contact-icon {
    width: 70px;
    display: inline-block;
    text-align: center;
    padding: 0 0 25px 0;
    text-decoration: none;
    color: #13293D;
}

.contact-icon svg {
    margin: 0 0 10px 0;
}

footer {
    text-align: center;
    padding: 80px 0 15px 0;
}

.hr-styled {
    border: 0;
    height: 1px;
    color: #13293D;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(19, 41, 61, 0.90), rgba(0, 0, 0, 0));
}

.hr-styled-2 {
    border: 0;
    width: 150px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(19, 41, 61, 0.90), rgba(0, 0, 0, 0));
}